<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test Suite" verbose="1" >
    <listeners>
        <listener class-name="Listner"/>
    </listeners>
    <test name="DemoQA" >
        <classes>
            <class name="SmokeTest">
                    <methods>
                        <exclude name="verifyHomePage"></exclude>
                    </methods>
            </class>

        </classes>
    </test>
</suite>
